:root{
    --white             :#FFFFFF;
    --cyan              :#1CB9C8;
    --header            :#1C1C23;
    --subheader         :#666666;
    --text              :#555555;
    --primary           :#033D75;
    --container-white   :#F5F5F5;
    --border            :#979797;
    --footer-text       :#BBBBBB;
    --date-text         :#686868;
    --black-container   :#000000;
    --footer-bottom     :#23232C;
    --footer-bottom-text:#999999;
    --about-text        :#A2A2A2;
    --about-subheader   :#BFBFBF;   
    --footer-categorıes :#DFDFDF;
    --about-header      :#EBEBEB;
    --container         :#FAFAFA;
}
@font-face {
    font-family: Exo;
    src: url(/assets/fonts/Exo/);
}
body{
    width: 1920px;
    height: 9405px;
    background: #fff;
}
header{
    width: 1920px;
    height: 189px;
}
header .container{
    display: flex;
}
.top-bar{
    width: 1920px;
    height: 130px;
}
.logo{
    width: 221px;
    height: 51px;
}
.logo .logo-name{
    color: #033D75;
    font-family: Quicksand;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.68px;
}  
.logo span{
    color: #1CB9C8;
    text-align: center;
    font-family: Exo;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.68px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icon{
    width: 49px;
    height: 48px;
}
.uppercase{
    text-transform: uppercase;
}