:root{
    --white             :#FFFFFF;
    --cyan              :#1CB9C8;
    --header            :#1C1C23;
    --subheader         :#666666;
    --text              :#555555;
    --primary           :#033D75;
    --container-white   :#F5F5F5;
    --border            :#979797;
    --footer-text       :#BBBBBB;
    --date-text         :#686868;
    --black-container   :#000000;
    --footer-bottom     :#23232C;
    --footer-bottom-text:#999999;
    --about-text        :#A2A2A2;
    --about-subheader   :#BFBFBF;   
    --footer-categorıes :#DFDFDF;
    --about-header      :#EBEBEB;
    --container         :#FAFAFA;
    --exo               :'Exo'      , sans-serif;
    --quicksand         :'Quicksand', sans-serif;
    --open-sans         :'Open Sans', sans-serif;
    --raleway           :'Raleway'  , sans-serif;
}
body{

    background: #FFF;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
} 

/* Header */

header{
    background: var(--white);
    height: 189px;
}   
.logo{
    display: inline-block;
}
.logo-svg{
    display: inline-block;
    margin-left: 200px;
    padding-top: 40px;
}
.logo-name{
    display: inline-block;
    color: var(--primary);
    font-family: Quicksand;
    font-size: 34px;
    font-weight: 400;
    margin-left: 10px;
}
.logo span{
    color: var(--cyan);
    font-family: Exo;
    font-size: 34px;
    font-weight: 700;
}
.contact{
    display: inline-block;
    position: relative;
    left: 600px;
    bottom: 8px;
}
.phone{
    display: inline-block;
    width: 17px;
    margin-bottom: -3px;
    margin-right: 5px;
}
.phone-number{
    display: inline-block;
    color: var(--subheader);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}
.line-black{
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0px 25px;
}
.email-svg{
    width: 17px;
    margin-bottom: -4px;
    margin-right: 5px;
}
.email{
    display: inline-block;
    color: var(--subheader);
    text-align: right;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}
.search{
    width: 20px;
    position: relative;
    left: 500px;
    top: 20px;
}
nav{
    background-color: var(--primary);
    margin-top: 50px;
    height: 60px;
}
nav ul {
    margin-left: 130px;
}
li{
    float: left;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    margin-top: 22px;
    margin-left: 30px;
}
li a{
    color: #FFF;
}

/* Hero-header */

#hero-header{
    height: 510px;
    background-color: #033D75;
    margin: 0;
    padding: 100px;
}
#hero-header .container{
    padding-left: 100px;
    padding-top: 150px;
}
.hero-header-head{
    font-family: var(--raleway);
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
}
.color-cyan{
    color: var(--cyan);
}
.hero-header-text{
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 600;
}
.hero-header-button{
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: 13px;
}
.hero-header-button-back-white{
    width: 165px;
    height: 55px;
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-top: 20px;
}
.hero-header-button-back-blue{
    width: 165px;
    height: 55px;
    border: 1px solid var(--cyan);
    display: inline-block;
    text-align: center;
}
.hero-header-button-white{
    color: var(--header);
    position: relative;
    top: 20px;
}
.hero-header-button-blue{
    color: var(--white);
    position: relative;
    top: 20px;
}
.button-svg{
    width: 10px;
    padding-left: 5px;
}

/* Services */

#services .container{
    margin-top: 80px;
    height: 760px;
}
.section-subheader{
    color: var(--subheader);
    font-family: var(--open-sans);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.section-header{
    color: var(--header);
    font-family: var(--raleway);
    font-size: 29px;
    font-weight: 800;
    letter-spacing: 1.45px;
}
.shape{
    display: block;
    margin: auto;
    position: relative;
    bottom: 13px;
}
.section-text{
    color: var(--subheader);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services-card{
    margin-top: -70px;
    flex-basis: 450px;
}
.services-card-img-back{
    text-align: center;
    width: 72px;
    height: 72px;
    border: 1px solid var(--border);
    background: var(--primary);
    display: inline-block;
}
.services-card-img{
    width: 35px;
    padding-top: 17px;
}
.services-card-body{    
    display: inline-block;
    margin-top: 50px;
    position: relative;
    top: 65px;
    left: 25px;
}
.services-card-header{
    color: var(--header);
    font-family: var(--raleway);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    margin-bottom: -2px;
}
.services-card-text{
    color: var(--text);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

/* About Style */

#about .container{
    background-color: var(--header);
    height: 770px;
}
.about-left{
    display: inline-block;
}
.place-holder-body{
    margin: 0;
    position: relative;
    color: var(--white);
    top: 325px;
    right: 70px;
    z-index: 100;
}
.place-holder-header{
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: 1px;
}
.place-holder-subheader{
    font-family: var(--open-sans);  
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}
.about-place-holder-gray{
    position: relative;
    left: 200px;
    top: 10px;
}
.about-hover{
    position: relative;
    top: 0px;
    right: 344px;
}
.about-right{
    width: 500px;
    position: relative;
    left: 810px;
    bottom: 527px;
}
.about-subheader{
    color: var(--about-subheader);
    font-family: var(--open-sans);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}
.about-header{
    color: var(--about-header);
    font-family: var(--raleway);
    font-size: 29px;
    font-weight: 800;
    letter-spacing: 1.45px;
}
.about-text{
    color: var(--about-text);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}
.about-bar{
    margin-top: 25px;
}
.bar-header{
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 0.26px;
    margin-bottom: -10px;
}
.bar-percent{
    display: inline-block;
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.26px;
    margin-left: 5px;
}
.about-button-back{
    margin-top: 40px;
    width: 172px;
    height: 50px;
    background-color: var(--cyan);
    text-align: center;
    display: inline-block;
}
.about-button{
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: 16px;
}

/* Services-two Style */

#services-two .container{
    height: 945px;
    margin-top: 80px;
}
.services-body{
    margin-top: 70px;
}
.services-left{
    display: inline-block;
    margin-top: 50px;
    margin-left: 200px;
}
.quote{
    color: var(--cyan);
    font-family: var(--raleway);
    font-size: 100px;
    font-weight: 800;
    position: relative;
    bottom: 50px;
}
.services-text{
    display: inline-block;
    color: var(--subheader);
    text-align: center;
    font-family: var(--open-sans);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.48px;
    margin-left: 30px;
}
.place-holder-green{
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-left: 260px;
}
.services-name{
    color: var(--header);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: 0.26px;
    margin-top: 15px;
    margin-left: 80px;
}
.services-founder{
    color: var(--subheader);
    font-family: var(--open-sans);
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.39px;
    margin-left: 80px; 
}
.services-right{
    display: inline-block;
    position: relative;
    left: 200px;
    top: 10px;
}
.relative{
    position: relative;
}
.left-button{
    right: 550px;
    bottom: 175px;
}
.services-button{
    width: 30px;
    right: 340px;
    bottom: 175px;
}
.right-button{
    right: 125px;
    bottom: 175px;
}

/* Highlights Style */

#highlights{
    height: 830px;
    margin-top: -50px;
    background-color: var(--container);
}
.highlights{
    float: left;
    position: relative;
    margin-top: 100px;
}
.left{
    left: 250px;
}
.highlights-card{
    margin: 30px 0;
}
.highlights-header-left{
    color: var(--header);
    text-align: right;
    font-family: var(--raleway);
    font-size: 18px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.54px;
    width: 260px;
    display: inline-block;
}
.highlights-img{
    display: inline-block;
    width: 25px;
    position: relative;
    top: 5px;
}
.highlights-text-left{
    width: 293px;
    color: var(--text);
    text-align: right;
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
.right{
    left: 840px;
}
.highlights-header-right{
    color: var(--header);
    font-family: var(--raleway);
    font-size: 18px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.54px;
    display: inline-block;
}
.highlights-text-right{
    width: 294px;
    color: var(--text);
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: 400;
    line-height: 24px; 
}

/* Pricing Style */

#pricing .container{
    margin-top: 150px;
}
.pricing-cards{
    display: flex;
    place-content: center;
}
.pricing-card{
    width: 371px;
    height: 676px;
    margin: 15px;
}
.pricing-card-top{
    height: 240px;
    background-color: var(--cyan);
}
.pricing-card-back{
    display: block;
    margin: auto;
    position: relative;
    top: 45px;
    width: 66px;
    height: 66px;
}
.pricing-price{
    text-align: center;
    color: var(--white);
    font-family: var(--raleway);
    font-size: 18px;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.54px;
}
.price{
    color: var(--white);
    font-family: var(--raleway);
    font-size: 70px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}