:root{
    --white             :#FFFFFF;
    --cyan              :#1CB9C8;
    --header            :#1C1C23;
    --subheader         :#666666;
    --text              :#555555;
    --primary           :#033D75;
    --container-white   :#F5F5F5;
    --border            :#979797;
    --footer-text       :#BBBBBB;
    --date-text         :#686868;
    --black-container   :#000000;
    --footer-bottom     :#23232C;
    --footer-bottom-text:#999999;
    --about-text        :#A2A2A2;
    --about-subheader   :#BFBFBF;   
    --footer-categorıes :#DFDFDF;
    --about-header      :#EBEBEB;
    --container         :#FAFAFA;
    --exo               :'Exo'      , sans-serif;
    --quicksand         :'Quicksand', sans-serif;
    --open-sans         :'Open Sans', sans-serif;
    --raleway           :'Raleway'  , sans-serif;
}
body{
    width: 1728px;
    background: #FFF;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
} 

/* Header */

header{
    background: var(--white);
    height: 189px;
}   
.logo{
    display: inline-block;
}
.logo-svg{
    display: inline-block;
    margin-left: 200px;
    padding-top: 40px;
}
.logo-name{
    display: inline-block;
    color: var(--primary);
    font-family: Quicksand;
    font-size: 34px;
    font-weight: 400;
    margin-left: 10px;
}
.logo span{
    color: var(--cyan);
    font-family: Exo;
    font-size: 34px;
    font-weight: 700;
}
.contact{
    display: inline-block;
    position: relative;
    left: 600px;
    bottom: 8px;
}
.phone{
    display: inline-block;
    width: 17px;
    margin-bottom: -3px;
    margin-right: 5px;
}
.phone-number{
    display: inline-block;
    color: var(--subheader);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}
.line-black{
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0px 25px;
}
.email-svg{
    width: 17px;
    margin-bottom: -4px;
    margin-right: 5px;
}
.email{
    display: inline-block;
    color: var(--subheader);
    text-align: right;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}
.search{
    width: 20px;
    position: relative;
    left: 500px;
    top: 20px;
}
nav{
    background-color: var(--primary);
    margin-top: 50px;
    height: 60px;
}
nav ul {
    margin-left: 130px;
}
li{
    float: left;
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    margin-top: 22px;
    margin-left: 30px;
}
li a{
    color: #FFF;
}

/* Hero-header */

#hero-header{
    height: 510px;
    background-color: #033D75;
    margin: 0;
    padding: 100px;
}
#hero-header .container{
    padding-left: 100px;
    padding-top: 150px;
}
.hero-header-head{
    font-family: var(--raleway);
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
}
.productıve{
    color: var(--cyan);
}
.hero-header-text{
    color: var(--white);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 600;
}
.hero-header-button{
    font-family: var(--open-sans);
    font-weight: 700;
    font-size: 13px;
}
.hero-header-button-back-white{
    width: 165px;
    height: 55px;
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
.hero-header-button-back-blue{
    width: 165px;
    height: 55px;
    border: 1px solid var(--cyan);
    display: inline-block;
    text-align: center;
}
.hero-header-button-white{
    color: var(--header);
    position: relative;
    top: 20px;
}
.hero-header-button-blue{
    color: var(--white);
    position: relative;
    top: 20px;
}
.button-svg{
    width: 10px;
    padding-left: 5px;
}

/* Services */

#services .container{
    margin-top: 80px;
}
.section-subheader{
    color: var(--subheader);
    font-family: var(--open-sans);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.section-header{
    color: var(--header);
    font-family: var(--raleway);
    font-size: 29px;
    font-weight: 800;
    letter-spacing: 1.45px;
}
.shape{
    display: block;
    margin: auto;
    position: relative;
    bottom: 13px;
}
.services-text{
    color: var(--subheader);
    font-family: var(--open-sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.services-card{
    width: 434px;
}